<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <link href="/statics/csss/bootstrap.min.css" rel="stylesheet"> -->
		<!-- <link href="/statics/csss/bootstrap.css" rel="stylesheet"> -->


		<title>Siavash Homepage</title>

		<meta charset="UTF-8" />
		<meta name="description" content="Lorem ipsum aliquip minim mollit sit velit proident elit duis aute irure tempor magna sint pariatur reprehenderit aliquip et voluptate consequat cillum tempor in culpa irure dolore ea aute laboris in elit tempor sed." />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link href="/statics/csss/homepage.css" rel="stylesheet">

	</head>
	<body>
		<header id="main-header" class="clearfix">
			<div class="container">
				<h2>Ahmad Homepage</h2>
				<nav>
					<ul id="ul">
						<li><a href="/">Home</a></li>
						<li><a href="/acount/login/">Login</a></li>
						<li><a href="/acount/sign_up/">Sign Up</a></li>
					</ul>
				</nav>
			</div>
		</header>

        <center>
		<div>
			<div class="arz-form">
			  <div class="arz-name col">
				<p>Dogecoin</p>
			  </div>
			  <div class="arz-price col">
				<p class="p">1120000</p>
			  </div>
			  <div class="arz-cap col">
				<p class="p">20M$</p>
			  </div>
			  <div class="arz-status">
				<h2 style="font-weight: normal;">Status: arz-status</h2>
				<p>our suggestion to you: buy</p>
			  </div>
			</div>
			<br>
		</div>
            <h2>
                A Platform For Buy Together
            </h2>
            <h3>
                <a class="login" href="/acount/login/">Login To Your Acount </a> or  
                <a class="signup" href="/acount/sign_up/">Create New Acount</a>
            </h3>

            <div class="cherts">
                <h3>
                    Our Buy Strategy Is Good Strategy
                </h3>
            </div>
        </center>

		<script>
			if("{{ anacount }}" == "true"){
				var t = document.getElementById("ul");
				t.innerHTML+= '<li><a href="/acount/dashboard/">Dashboard</a></li>';
			}
		</script>
		<div class="paeen">
			<div class="column">
				<ul style="list-style-type:disc">
					<li><a href="/information/aboutus">About Us</a></li>
					<li><a href="/information/privacypolicy">Privacy Policy</a></li>
					<li><a href="/information/contactus">Contact Us</a></li>
				</ul>
				<div class="copyright">
					<p>&copy ahmad</p>
				</div>
			</div>
        </div>

	</body>

</html>