.v10 {
background: #0062ff;
width: 220px;
height: 220px;
opacity: 1;
border-radius: 50%;
display: inline-block;
}
.user_data-text {
margin: auto;
font-size: 25px;
color: #ffffff;
display: table;
margin-top: 39%;
}
.user_data {
background: #0062ff;
width: 230px;
height: 230px;
opacity: 1;
border-radius: 50%;
display: inline-block;
margin-left: 60px;
}
.cap {
display: inline-block;
text-align: center;
margin-left: 60px;
width: 230px;
opacity: 1;
}
.cap-1 {
display: inline-block;
width: 230px;
opacity: 1;
}


.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
font-size: 3.5rem;
}
}
body {
font-size: .875rem;
}

.feather {
width: 16px;
height: 16px;
vertical-align: text-bottom;
}

/*
* Sidebar
*/

.sidebar {
position: fixed;
top: 0;
/* rtl:raw:
right: 0;
*/
bottom: 0;
/* rtl:remove */
left: 0;
z-index: 100; /* Behind the navbar */
padding: 48px 0 0; /* Height of navbar */
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
.sidebar {
top: 5rem;
}
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: .5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
font-weight: 500;
color: #333;
}

.sidebar .nav-link .feather {
margin-right: 4px;
color: #727272;
}

.sidebar .nav-link.active {
color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
color: inherit;
}

.sidebar-heading {
font-size: .75rem;
text-transform: uppercase;
}

/*
* Navbar
*/

.navbar-brand {
padding-top: .75rem;
padding-bottom: .75rem;
font-size: 1rem;
background-color: rgba(0, 0, 0, .25);
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
top: .25rem;
right: 1rem;
}

.navbar .form-control {
padding: .75rem 1rem;
border-width: 0;
border-radius: 0;
}

.form-control-dark {
color: #fff;
background-color: rgba(255, 255, 255, .1);
border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
border-color: transparent;
box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
body, html {
padding: 0;
margin: 0;
}

html {
background: #ffffff;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
padding-top: 200px;
}
.side {
border: 1px solid rgb(39, 39, 39);
height: 500px;
display: inline-block;
margin-left: 15%;
width: 10%;
}
.form-form {
width: 700px;
height: 500px;
margin-left: 20%;
display: inline-block;
position: absolute;
border: 2px solid rgb(0, 0, 0);
}
.sideb {
margin:0;
padding:0;
cursor: pointer;
display: ruby-text-container;
}
.side button {
font-size:20px;
width: 100%;
height: 15%;
}
.oldpass {
display: block;
margin-top: 20px;
position: absolute;
}
.newpass {
display: block;
position: absolute;
margin-top: 40px;
}    
.confirmpass {
display: block;
margin-top: 60px;
position: absolute;
}
.submit {
display: block;
margin-top: 80px;
position: absolute;
}
.logout-submit {

}
.password {

}
.submit-del {

}
#main-header nav ul {
list-style: none;
padding: 0;
margin: 0;
}

#main-header nav ul li {
float: left;
margin-left: 20px;
}

#main-header nav ul li a {
padding: 10px;
display: block;
text-decoration: none;
border: 1px solid transparent;
}

#main-header nav ul li a:hover {
background: #f7f7f7;
border: 1px solid #e1e1e1;
border-radius: 5px;
}