<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Softcoin Email Verify</title>
        <link href="/statics/csss/bootstrap.css" rel="stylesheet">
        <link href="/statics/csss/verify_first_view.css" rel="stylesheet">
    </head>

<body class="text-center">
    
    <main class="form-signin">
      <form class="row" action="/acount/send_code/" method="post">{% csrf_token %}
        <a href="/">
            <img class="mb-4" src="/statics/images/icon.png" alt="Softcoin" width="72" height="57">
        </a>
        <h1 class="h3 mb-3 fw-normal">Enter your email</h1>
        <h2 style="font-size:20px;color:red;">{{ error }}</h2>
        <div class="form-floating">
          <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput" style="margin-left: 5px;">Email address</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary" type="submit">Get code</button>
        <p class="col-sm-12">Do you have an acount?  <a class="link" href="/acount/login/">Login</a></p>
      </form>
    </main>
        
      </body>
</html>
